name: Hexo Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: false

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 23.11.0

    - name: Install dependencies
      run: npm install

    - name: Generate Hexo site
      run: npx hexo clean && npx hexo generate

    - name: Deploy to GitHub Pages
      run: npx hexo deploy -f
